<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="Boatrace Venture Project">
    <rule ref="PSR12">
        <properties>
            <property name="lineLimit" value="240"/>
            <property name="absoluteLineLimit" value="0"/>
        </properties>
    </rule>

    <file>src</file>
    <file>tests</file>
</ruleset>
